@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
a,
h1,
h3,
h3 a {
    color: #FFF
}

h1,
h3,
p {
    text-align: center
}

body,
nav,
nav ul {
    padding: 0
}

nav,
nav ul li {
    margin: 0;
    background-color: #fff
}

.toggle,
[id^=drop],
nav ul ul {
    display: none
}

nav ul,
nav ul ul li,
nav ul ul ul li {
    position: relative
}

body {
    background: #fff;
    font-size: 22px;
    line-height: 32px;
    color: #110f24;
    margin: 0;
    word-wrap: break-word !important;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 {
    font-size: 30px;
    line-height: 34px
}

h1 {
    margin-top: 100px;
    font-size: 60px;
    line-height: 70px;
    font-family: 'Bree Serif', serif
}

#container {
    margin: 0 auto;
    max-width: 890px
}

#logo,
nav a {
    display: block
}

nav {
    border-bottom: 1px solid #DFE3EA
}

#logo {
    padding: 0 30px;
    float: left;
    font-size: 20px;
}

#logo a {
    padding: 18px 0 0 0;
}

nav:after {
    content: "";
    display: table;
    clear: both
}

nav ul {
    /* float: left; */
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    float: left
}

nav a {
    padding: 14px 20px;
    color: #778491;
    font-size: 14px;
    text-decoration: none;
}

nav a:hover,
nav ul li ul li:hover {
    color: #24A44C
}

nav ul ul {
    position: absolute;
    top: 60px
}

nav ul li:hover > ul {
    display: inherit
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item
}

nav ul ul ul li {
    top: -60px;
    left: 170px
}

li > a:after {
    content: ' +'
}

li > a:only-child:after {
    content: ''
}

@media all and (max-width:768px) {
    #logo,
    nav ul li {
        width: 100%
    }
    nav ul ul,
    nav ul ul ul li {
        position: static
    }
    #logo {
        display: block;
        padding: 0;
        text-align: center;
        float: none
    }
    nav {
        margin: 0
    }
    .menu,
    .toggle + a {
        display: none
    }
    .toggle,
    [id^=drop]:checked + ul,
    nav ul li {
        display: block
    }
    .toggle {
        background-color: #254441;
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
        text-decoration: none;
        border: none
    }
    .toggle:hover,
    nav a:hover,
    nav ul ul ul a {
        background-color: #000
    }
    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px
    }
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px
    }
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121
    }
    nav ul ul {
        float: none;
        color: #fff
    }
    nav ul li:hover > ul,
    nav ul ul li:hover > ul {
        display: none
    }
    nav ul ul li {
        display: block;
        width: 100%
    }
}

@media all and (max-width:330px) {
    nav ul li {
        display: block;
        width: 94%
    }
}

.right {
    float: right !important;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.header-right {
    position: relative;
    justify-content: flex-end;
}

.logo {
    background-color: #e9e9e9;
    height: 2.4rem;
    width: 10rem;
    border-radius: 4px;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 15px;
}

.avatar-wrapper .avatar-dropdown-arrow {
    transition: opacity .1s linear, -webkit-transform .15s linear;
    transition: opacity .1s linear, transform .15s linear;
    transition: opacity .1s linear, transform .15s linear, -webkit-transform .15s linear;
}

.avatar-wrapper .avatar-dropdown-arrow.active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.avatar-wrapper:hover .avatar-dropdown-arrow {
    opacity: 0.2;
}

.avatar-photo {
    border-radius: 50px;
    margin-right: 0.5rem;
}

.dropdown-wrapper {
    position: absolute;
    top: 75%;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-origin: right;
    transform-origin: right;
    right: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 60px;
    margin-right: 20px;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.08), 0 2px 4px 0 rgba(50, 50, 93, 0.05), 0 4px 8px 0 rgba(136, 152, 170, 0.08);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    visibility: hidden;
}

.dropdown-wrapper.active {
    top: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.dropdown-profile-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eaeaea;
}

.dropdown-profile-details--name {
    font-size: 1.75rem;
    margin-bottom: 0;
    font-weight: 600;
}

.dropdown-profile-details--email {
    font-size: 1.2rem;
    color: #6f6f6f;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.dropdown-links a {
    color: #525F7F;
    text-decoration: none;
    padding-bottom: 1rem;
    transition: all 0.1s linear;
}

.dropdown-links a:hover {
    color: #ebeff5;
}

.dropdown-links a:last-of-type {
    padding-bottom: 0;
}

.cog {
    font-size: 25px;
}
