@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-size: 16px;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .3px;
    line-height: 1.4
}

body {
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    line-height: 1.5
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

* {
    box-sizing: border-box;
    outline: 0
}

a:active,
a:hover {
    outline-width: 0;
    text-decoration: none
}

p {
    font-size: 16px;
    font-weight: 400
}

h1 {
    font-size: 3em;
    line-height: 0;
    color: #2f395d
}

h2 {
    font-size: 1.5em;
    color: rgba(47, 57, 93, .7);
    font-weight: 500
}

.desktop {
    display: block
}

.mobile {
    display: none
}

@media screen and (max-width:776px) {
    .desktop {
        display: none
    }
    .mobile {
        display: inline-table
    }
}

.main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: transparent
}

main {
    display: block
}

.main-content {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.nav {
    position: relative;
    z-index: 1002;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .2s ease;
    padding: 16px 0 20px;
    width: 100%;
}

.logo-div {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 50%;
    margin-left: -27px;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10
}

.logo {
    margin-top: 25px
}

.nav-link {
    -webkit-tap-highlight-color: transparent;
    transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
    opacity: 1
}

.nav-button {
    background: #0479ec none;
    border-radius: 7px;
    box-shadow: 1px 1px 11px rgba(98, 129, 157, .4);
    margin-top: -4px;
    margin-left: 5px;
    padding: .5em 1em!important;
    color: #fff!important
}

.nav-button:hover {
    opacity: 1!important;
    background: #f1efff;
    color: #715fff!important;
    border-color: #f1efff
}

.nav-button-light {
    color: #5791FC!important;
    opacity: 1!important;
}

.nav-button-light:hover {
    color: #fff;
    background-color: #6b9ef1
}

.nav-button-green {
    color: #37ddcb!important;
}

.nav-button-green:hover {
    color: #fff!important;
    background: #37f0dc
}

.button {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    color: #5791ef;
    margin: 10px 0
}

.button:hover {
    background: #f1efff;
    border-color: #f1efff;
    color: #715fff!important;
    transition: .15s
}

.nlogo {
    width: 55px;
    height: 55px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 3
}

.nl-container {
    width: 1200px;
    margin: 0 auto
}

.row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-right: -12.5px;
    margin-left: -.5rem;
    margin-left: -12.5px
}

.col {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-right: 12.5px;
    padding-left: .5rem;
    padding-left: 12.5px
}

.col {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 3;
    display: -ms-flexbox;
    display: flex
}

.nav-list li:first-child {
    margin-left: -11px
}

.nav-list li:last-child {
    margin-right: -11px
}

.nav-list-link {
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: #5f656d;
    padding: 5px 11px;
    display: block;
    opacity: .9;
    font-weight: 500;
}

.nav-list-rightaligned {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.nav-link:active,
.nav-link:hover {
    color: #5f656d;
    opacity: .7
}

.nav-link-selected {
    color: rgba(3, 27, 78, .7);
    transition: .2s ease
}

.nav-link-selected:hover {
    opacity: .5
}

.nav-link-select {
    color: rgba(255, 255, 255, .9);
    transition: .2s ease
}

.nav-link-select:hover {
    opacity: .5
}

.center {
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width:776px) {
    .col-sm {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        flex-basis: auto;
        padding-right: .5rem;
        padding-right: 12.5px;
        padding-left: .5rem;
        padding-left: 12.5px
    }
    .col-sm {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
}

@media screen and (max-width:776px) {
    .nav-link-selected {
        color: #5f656d
    }
    .logo-div {
        z-index: 9002
    }
    .mobiletoggle {
        width: calc(2rem + 22px + 2rem);
        height: 55px;
        position: absolute;
        top: 0;
        z-index: 9002;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center
    }
    .mobiletoggleIcontainer {
        width: 22px;
        height: 16px;
        position: relative
    }
    .mobileopen {
        position: absolute;
        width: 22px;
        height: 16px;
        background: url(//cdn.shopify.com/s/files/1/2714/6216/files/menu_icon.svg?12151790211021599034) no-repeat;
        background-size: auto auto;
        background-size: 100% 100%;
        opacity: 1
    }
    .mobileclose {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 3px;
        background: url(//cdn.shopify.com/s/files/1/2714/6216/files/close_icon.svg?14258013649888174661);
        background-size: auto auto;
        background-size: 100% 100%;
        opacity: 0
    }
    .mobileclose,
    .mobileopen {
        transition: opacity 185ms cubic-bezier(.645, .045, .355, 1)
    }
    .nav-MobileContainer {
        background: hsla(0, 0, 100%, .985);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 6rem;
        padding-bottom: 3.5rem;
        z-index: 9001;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none
    }
    .nav-MobileContainer-default {
        transition: opacity 225ms cubic-bezier(.4, 0, 1, 1), transform 225ms cubic-bezier(.4, 0, 1, 1)
    }
    .nav-list {
        display: block
    }
    .nav-list li,
    .nav-list li:first-child,
    .nav-list li:last-child {
        display: block;
        margin: 0;
        margin: initial;
        border-bottom: 1px solid rgba(0, 0, 0, .075);
        transform: translateY(-20px);
        opacity: 0;
        transition: transform 225ms cubic-bezier(0, 0, .2, 1), opacity 225ms cubic-bezier(0, 0, .2, 1)
    }
}

.nav-list {
    margin-top: 5px
}

.wrapper {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0
}

@media screen and (max-width:1020px) {
    .wrapper {
        margin: 0 25px
    }
}

.page-title-section {
    padding: 50px 0
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #777;
    border-top: 1px solid #eee;
    text-align: center
}

.footer a {
    color: #777
}

.footer a:hover {
    color: #4183d7
}

.footer-links {
    padding-left: 0;
    margin-bottom: 20px
}

.footer-links li {
    display: inline-block
}

.footer-links li + li {
    margin-left: 15px
}

@media(min-width:768px) {
    .footer {
        text-align: center
    }
    .footer p {
        margin-bottom: 0;
        font-size: 12px
    }
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

.loader {
    -webkit-animation-name: horizontalProgressBar;
    animation-name: horizontalProgressBar;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background: #5791ef;
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 9999
}

@keyframes horizontalProgressBar {
    0% {
        width: 0;
        background: #5791ef
    }
    50% {
        width: 55%;
        background: #5791ef;
        height: 3px
    }
    90% {
        background: #5791ef
    }
    100% {
        width: 100%;
        background: transparent
    }
}

@-webkit-keyframes horizontalProgressBar {
    0% {
        width: 0
    }
    50% {
        width: 55%
    }
    100% {
        width: 100%
    }
}

#bg-light {
    background: #f6fbfd
}

#bg-home {
    background: #fff;
    min-height: 700px
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0
}

.overlay:target {
    visibility: visible;
    opacity: 1
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fdfdfd;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 2s ease-in-out
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #333
}

.popup .content {
    max-height: 30%;
    overflow: auto
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1
}

.tab button {
    background-color: inherit;
    float: left;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 14px 16px;
    transition: .3s;
    font-size: 17px
}

.tab button:hover {
    background-color: #ddd
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: 0
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00d678;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked + .slider {
    background-color: #00d678
}

input:focus + .slider {
    box-shadow: 0 0 1px #00d678
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.time {
    height: 26px;
    line-height: 26px;
    width: 200px;
    margin: 0 auto
}

#time-price {
    float: left;
    margin: 5px;
    font-weight: 400
}

.info-plans {
    background: #f6fafd url(../images/bg-servise-2.png) no-repeat top;
    padding-top: 268px
}

.info-plans .title-head {
    margin-bottom: 10px
}

.info-plans p {
    color: #7782aa;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 45px
}

.info-plans table {
    width: 100%;
    box-shadow: 1px 1px 22px rgba(157, 184, 209, .19);
    border-radius: 3px;
    z-index: 999;
    position: relative;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0
}

.info-plans table thead tr td {
    padding-top: 35px;
    color: #39335b;
    font-size: 18px;
    font-family: helveticaneue-bold, serif
}

.info-plans table thead tr td:first-child {
    padding-bottom: 18px
}

.info-plans table tbody tr:last-child td {
    padding-bottom: 43px
}

.info-plans table tbody td.background {
    background-color: rgba(230, 237, 246, .4)
}

.info-plans table tr {
    padding: 0 40px
}

.info-plans table tr.offset-inside td {
    padding-top: 43px
}

.info-plans table tr td {
    color: #7782aa;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0
}

.info-plans table tr td.text-left {
    width: 27%;
    text-align: left;
    padding-left: 40px
}

.info-plans table tr td b {
    color: #39335b;
    font-family: helveticaneue-medium, serif
}

.info-plans table tr.border-line {
    border: 2px solid rgba(230, 237, 246, .4)
}

.table-container {
    width: 1e3px
}

#white {
    color: #fff
}
