* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Europa, system-ui, -apple-system, Roboto, "Lucida Sans";
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

p {
    color: #6a798c;
}

header {
    padding: 2em 0;
    border-bottom: 1px solid #f9f9f9;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
}

@media screen and (min-width: 550px) {
    .container {
        width: 100%;
    }
}

.container-main {
    width: 95%;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 60px;
    height: 60px;
}

.logo h1 {
    font-size: 1.4rem;
}

svg.logo {
    height: 60px;
    width: 60px;
}

.menu {
    float: right;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #333b69;
}

.menu-toggle {
    font-size: 1em;
    display: inline-block;
    position: relative;
    bottom: 4px;
    padding-right: 5px;
}

.in {
    display: inline-block;
}

.bar {
    display: block;
    width: 15px;
    height: 1px;
    background-color: #333b69;
    content: '';
    margin-bottom: 4px;
}

.close-form {
    position: absolute;
    right: 40px;
    top: 45px;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
}

@media screen and (min-width: 550px) {
    .close-form {}
}

.close_button {
    display: inline-block;
    bottom: -4px;
    position: relative;
    font-size: 1em;
    z-index: 9999;
}

.alt-bar-diff {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    display: block;
    background-color: #fff;
    width: 20px;
    height: 1px;
}

.alt-bar {
    content: '';
    display: block;
    height: 1px;
    width: 20px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-overlay {
    background-color: #0D0D0D;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    transition: all, .2s;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.menu-overlay li {
    list-style: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    top: 20%;
    left: 50%;
    text-align: center;
}

.menu-overlay .ul {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-overlay .ul li {
    font-size: 1.4em;
    text-align: center;
}

.menu-overlay .ul li a {
    color: #333b69;
    transition: all, .3s;
    letter-spacing: 2px;
    padding: .5em 0 0 0;
    display: block;
    font-size: 3em;
    line-height: 1;
}

.menu-overlay .ul li a:hover {
    text-decoration: none;
    transition: all, .3s;
}

.is-active {
    visibility: visible;
    opacity: 1;
}

.hover-highlight {
    display: inline-block;
    position: relative;
    color: #9E9E9E;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.15;
    margin: 20px 0;
    font-style: oblique;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
}

.hover-highlight:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 10px;
    bottom: 4px;
    left: 0;
    background: rgba(79, 109, 245, .5);
    transition: 500ms cubic-bezier(.8, 0, .2, 1);
    z-index: -1;
}

.faster-highlight {
    transition: 300ms cubic-bezier(.8, 0, .2, 1) !important;
}

.hover-highlight:hover:after {
    width: 100%;
    bottom: 4px;
}

.hero {
    padding: 4em 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.hero h1 {
    font-size: 1.4em;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 16px 0;
    color: #343434;
}

@media screen and (min-width: 670px) {
    .hero h1 {
        font-size: 4em;
    }
}

.hero p {
    font-size: 1em;
    line-height: 1.6;
}

@media screen and (min-width: 670px) {
    .hero p {
        font-size: 1.2em;
        font-weight: 400;
    }
}

.alt-text {
    color: #4f6df5;
    font-style: italic;
}

.btn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 14px 20px;
    font-size: .9rem;
    border-left: 1px solid #333b69;
    border-top: 1px solid #333b69;
}

@media screen and (min-width: 660px) {
    .btn {
        font-size: 1.2rem;
    }
}

.btn:hover {
    background-color: transparent;
    color: black;
}

.box {
    width: 100%;
    background-color: #f8f8f8;
    height: 400px;
    float: left;
    position: relative;
}

.box:nth-child(2n) {
    background-color: #333b69;
}

@media screen and (min-width: 800px) {
    .box {
        width: 50%;
    }
}

.box-inside {
    background-color: #fff;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    padding: 2em;
}

.box-meta {
    text-align: center;
}

.box-meta h3 {
    margin-bottom: 1em;
}

.box-meta p {
    margin-top: 1em;
}

hr {
    height: 1px;
    width: 20%;
    background-color: #333b69;
    border: 0;
    display: block;
    margin: 0 auto;
}

.black {
    background-color: #333b69;
}

.blue {
    background-color: #1F2041;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.home-btn {
    font-size: 18px;
    margin: 26px;
    display: inline-block;
    border-radius: 5px;
    color: #090909;
    transition: 0.2s;
}

.home-btn:after {
    content: "\2192";
    padding-left: 5px;
    color: #bbb;
}

.home-btn:hover::after {
    color: #090909;
    transition: 0.2s;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/img/loading.gif) center no-repeat #fff;
}

.overlay-logo-padding {
    padding: 2em 40px;
    float: left;
    position: absolute;
}
